Data Science Tools and Ecosystem

In this notebook, Data Science Tools and ecosystem are summarized.

In [ ]:
Objectives:
    *Learnt diffferent tools used for data science
    *Basics of python, R, watson studio.
    *Hands on jupyter notebook, R, Watson studio, Github

Some of the popular languages that data scientists use are: 
    Python
    R
    Sql
    Java
    Scala
    etc

Some of the commonly used libraries used by data scientists includes: 
    Matplotlib
    NumPy
    Pandas
    Seaborn
    SciPy
    Keras
    Tensorflow

| Data Science tools |
|:--------:|
|  R  | 
|  Jupyter notebook   | 
|  Python   |

Below are few examples of evaluating arithmetic expressions in python <br>
2+3=5
5-1=4
2*3=6
2**2=4
2/2=1

In [5]:
#This is a simple arithmetic expression to multiply then add integers.
a=3*4+5
print(a)

17

In [9]:
#This will convert 200 minutes to hours by dividing by 60
a=200/60
print (a)

3.3333333333333335

## Rohit